body{
    border: 1px solid blue;
    background-color: rgb(12,89,89);
    font-family: 'Praise', sans-serif;
}
h1{
    color: #FAE53C;
    text-align: center;
}
img {
    border: 2px solid orange;
}
.navbar >a {
    color: #141414;
    text-decoration: none;
}
.navbar>a:hover{
    color: red;
}
div.tile{
    border: 1px sloid green;
}
#hero-img{
    width: 500px;
    border: 1px sloid pink;
}